@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="text-center home-content">
        <h1 class="display-4">HRManagement'a Hoş Geldiniz!</h1>
        <p class="feature-text">Buradan şirketinize yeni çalışanlar ekleyebilirsiniz.</p>
        <p class="feature-text">Çalışan detaylarını görüntüleyebilirsiniz.</p>
        <p class="feature-text">Maaş takibi yapabilirsiniz.</p>
        <p class="feature-text">Mesainizin bitişine kalan zamanı görebilirsiniz.</p>
    </div>
</div>
